In [2]:
# 라이브러리 임포트

import pandas as pd

In [3]:
#raw data load

mental_raw = pd.read_spss('../data/mental_health/(데이터) 10대 청소년의 정신건강 실태조사.sav')

In [4]:
mental_raw.columns

Index(['PID', 'TYPE', 'SCH_ID', 'SEX', 'DQ1M1', 'DQ1M2', 'DQ1M3', 'DQ1M4',
       'DQ1M5', 'DQ1M6',
       ...
       'Q36_2M3', 'Q36_2M4', 'Q36_2M5', 'Q36_2M6', 'Q36_2M7', 'WT_A', 'WT_B',
       'CLASS1', 'CLASS2', 'AREA'],
      dtype='object', length=313)

## 함수 정의

In [5]:
def df_preprocessing(df,col_list):
    df = mental_raw.loc[:,col_list]
    df['AREA'] = df['AREA'].astype(str)
    df = df.set_index('AREA')
    return df

In [6]:
def likert_to_mean(df,likert_dict):
    df = df.applymap(lambda x: likert_dict[x])
    df_mean = df.groupby('AREA').mean()
    return df_mean

## 우울 관련 항목 추출

In [141]:
depressed_raw = df_preprocessing(mental_raw,['AREA', 'Q4A1', 'Q4A2', 'Q4A3', 'Q4A4', 'Q4A5', 'Q4A6', 'Q4A7', 'Q4A8', 'Q4A9', 'Q4A10', 'Q4A11', 'Q4A12'])

In [142]:
depressed_raw.head()

,Q4A1,Q4A2,Q4A3,Q4A4,Q4A5,Q4A6,Q4A7,Q4A8,Q4A9,Q4A10,Q4A11,Q4A12
AREA,,,,,,,,,,,,
경상,약간 그렇다,약간 그렇다,결코 그렇지 않다,약간 그렇다,결코 그렇지 않다,약간 그렇다,결코 그렇지 않다,결코 그렇지 않다,약간 그렇다,결코 그렇지 않다,약간 그렇다,약간 그렇다
경기/인천,결코 그렇지 않다,약간 그렇다,매우 그렇다,약간 그렇다,결코 그렇지 않다,그렇다,결코 그렇지 않다,결코 그렇지 않다,결코 그렇지 않다,상당히 그렇다,결코 그렇지 않다,약간 그렇다
경기/인천,약간 그렇다,그렇다,결코 그렇지 않다,약간 그렇다,결코 그렇지 않다,약간 그렇다,결코 그렇지 않다,결코 그렇지 않다,약간 그렇다,결코 그렇지 않다,결코 그렇지 않다,약간 그렇다
서울,결코 그렇지 않다,결코 그렇지 않다,결코 그렇지 않다,결코 그렇지 않다,결코 그렇지 않다,결코 그렇지 않다,결코 그렇지 않다,결코 그렇지 않다,결코 그렇지 않다,결코 그렇지 않다,결코 그렇지 않다,결코 그렇지 않다
경상,결코 그렇지 않다,그렇다,결코 그렇지 않다,결코 그렇지 않다,결코 그렇지 않다,약간 그렇다,결코 그렇지 않다,약간 그렇다,결코 그렇지 않다,결코 그렇지 않다,약간 그렇다,약간 그렇다

In [143]:
# 결측치 확인 : 0
depressed_raw.isnull().sum()

Q4A1     0
Q4A2     0
Q4A3     0
Q4A4     0
Q4A5     0
Q4A6     0
Q4A7     0
Q4A8     0
Q4A9     0
Q4A10    0
Q4A11    0
Q4A12    0
dtype: int64

In [156]:
depressed_raw['Q4A1'].value_counts()

Q4A1
결코 그렇지 않다    4683
약간 그렇다       1353
그렇다           346
상당히 그렇다       186
매우 그렇다        121
Name: count, dtype: int64

In [145]:
depressed_mean = likert_to_mean(depressed_raw,{'결코 그렇지 않다': 0, '그렇다': 25, '매우 그렇다': 50, '상당히 그렇다': 75, '약간 그렇다': 100})

In [146]:
depressed_mean.head()

,Q4A1,Q4A2,Q4A3,Q4A4,Q4A5,Q4A6,Q4A7,Q4A8,Q4A9,Q4A10,Q4A11,Q4A12
AREA,,,,,,,,,,,,
강원/충청,25.354970,22.388438,22.185598,21.298174,16.125761,21.247465,13.488844,10.775862,15.897566,17.216024,22.261663,21.475659
경기/인천,24.220322,23.201710,22.673541,19.290744,16.976861,20.347082,13.631791,11.670020,15.090543,16.851107,19.454225,21.013581
경상,23.849372,21.503288,20.965332,20.786013,14.330544,21.010161,12.716677,10.729229,12.895995,16.138673,20.442319,18.783622
서울,25.586643,25.451264,26.037906,21.592960,17.621841,21.389892,14.485560,13.199458,16.380866,18.659747,22.721119,19.584838
전라/제주,24.143469,25.294433,23.394004,21.252677,19.218415,20.851178,13.784797,14.079229,16.327623,18.442184,18.549251,18.816916

## 불안 항목 추출

In [147]:
unrest_raw = df_preprocessing(mental_raw,['AREA','Q5A1', 'Q5A2', 'Q5A3', 'Q5A4', 'Q5A5', 'Q5A6', 'Q5A7', 'Q5A8', 'Q5A9', 'Q5A10', 'Q5A11'])

In [148]:
# 결측치 확인 : 0
unrest_raw.isnull().sum()

Q5A1     0
Q5A2     0
Q5A3     0
Q5A4     0
Q5A5     0
Q5A6     0
Q5A7     0
Q5A8     0
Q5A9     0
Q5A10    0
Q5A11    0
dtype: int64

In [155]:
unrest_raw['Q5A1'].value_counts()

Q5A1
결코 그렇지 않다    5506
드물게 그렇다       652
때때로 그렇다       295
자주 그렇다        153
항상 그렇다         83
Name: count, dtype: int64

In [149]:
unrest_mean = likert_to_mean(unrest_raw,{'결코 그렇지 않다': 0, '드물게 그렇다': 25, '때때로 그렇다': 50, '자주 그렇다': 75, '항상 그렇다': 100})
unrest_mean.head()

,Q5A1,Q5A2,Q5A3,Q5A4,Q5A5,Q5A6,Q5A7,Q5A8,Q5A9,Q5A10,Q5A11
AREA,,,,,,,,,,,
강원/충청,8.367140,11.409736,9.077079,10.877282,8.341785,12.195740,12.043611,16.962475,4.918864,10.344828,10.268763
경기/인천,7.256036,10.362173,7.859658,9.154930,7.042254,10.663984,11.405936,15.782193,4.514588,10.462777,9.959759
경상,6.873879,9.533772,7.740586,9.429169,6.918709,10.325762,11.192469,14.808727,4.692170,9.847579,9.309623
서울,7.851986,10.920578,8.889892,10.311372,7.671480,11.281588,12.996390,16.764440,5.257220,10.988267,11.371841
전라/제주,8.511777,11.215203,9.876874,10.786938,8.431478,12.339400,13.731263,15.551392,5.808351,11.509636,11.429336

## 자살관련 항목 추출

In [150]:
suicide_raw = df_preprocessing(mental_raw,['AREA','Q6A1', 'Q6A2', 'Q6A3', 'Q6A4'])

In [151]:
# 결측치 확인 : 0
suicide_raw.isnull().sum()

Q6A1    0
Q6A2    0
Q6A3    0
Q6A4    0
dtype: int64

In [153]:
suicide_raw['Q6A1'].value_counts()

Q6A1
결코 그렇지 않다    5773
약간 그렇다        602
그렇다           135
상당히 그렇다        93
매우 그렇다         86
Name: count, dtype: int64

In [154]:
suicide_mean = likert_to_mean(suicide_raw,{'결코 그렇지 않다': 0, '약간 그렇다': 25, '그렇다': 50, '상당히 그렇다': 75, '매우 그렇다': 100})
suicide_mean.head()

           Q6A1      Q6A2      Q6A3      Q6A4
AREA
강원/충청  6.186613  5.299189  2.789047  3.803245
경기/인천  5.218813  4.388833  2.276157  3.584004
경상     4.722056  3.989839  1.808129  3.661088
서울     5.685921  4.828520  2.301444  3.316787
전라/제주  7.173448  6.209850  3.479657  4.496788

## 스트레스관련 항목 추출

In [157]:
stress_raw = df_preprocessing(mental_raw,['AREA','Q7A1', 'Q7A2', 'Q7A3', 'Q7A4', 'Q7A5', 'Q7A6', 'Q7A7', 'Q7A8', 'Q7A9', 'Q7A10'])

In [159]:
# 결측치 확인 : 0
stress_raw.isnull().sum()

Q7A1     0
Q7A2     0
Q7A3     0
Q7A4     0
Q7A5     0
Q7A6     0
Q7A7     0
Q7A8     0
Q7A9     0
Q7A10    0
dtype: int64

In [160]:
stress_raw['Q7A1'].value_counts()

Q7A1
전혀 없었다       2355
가끔 있었다       1982
거의 없었다       1609
꽤 자주 있었다      543
매우 자주 있었다     200
Name: count, dtype: int64

In [161]:
stress_mean = likert_to_mean(stress_raw,{'전혀 없었다': 0, '가끔 있었다': 25, '거의 없었다': 50, '꽤 자주 있었다': 75, '매우 자주 있었다': 100})
stress_mean.head()

,Q7A1,Q7A2,Q7A3,Q7A4,Q7A5,Q7A6,Q7A7,Q7A8,Q7A9,Q7A10
AREA,,,,,,,,,,
강원/충청,29.259635,28.169371,33.468560,37.043611,36.992901,28.397566,37.728195,31.313387,35.395538,26.749493
경기/인천,28.206740,29.929577,33.714789,37.336519,37.374245,29.275654,39.901911,31.991952,38.141348,26.571932
경상,26.897788,24.745965,29.736999,36.476390,36.984459,25.493126,38.404065,29.946204,37.806336,25.149432
서울,30.212094,29.219314,33.641697,38.515343,40.117329,29.557762,40.094765,31.362816,37.590253,27.053249
전라/제주,29.255889,28.881156,33.993576,34.716274,35.064240,28.506424,35.438972,30.754818,34.769807,26.927195

## 가족 관계 관련 항목 추출

In [7]:
family_raw = df_preprocessing(mental_raw,['AREA','Q16A1', 'Q16A2', 'Q16A3', 'Q16A4'])

In [9]:
# 결측치 확인 : 0
family_raw.isnull().sum()

Q16A1    0
Q16A2    0
Q16A3    0
Q16A4    0
dtype: int64

In [11]:
family_raw['Q16A1'].value_counts()

Q16A1
매우그렇다       3651
그런편이다       2581
그렇지않은편이다     330
전혀그렇지않다      127
Name: count, dtype: int64

In [12]:
family_mean = likert_to_mean(family_raw,{'전혀그렇지않다': 0, '그렇지않은편이다': 33.3, '그런편이다': 66.7, '매우그렇다': 100})
family_mean.head()

           Q16A1      Q16A2      Q16A3      Q16A4
AREA
강원/충청  81.518256  78.946146  79.218053  81.753854
경기/인천  82.204427  79.301710  79.000553  82.169819
경상     83.154812  80.184340  80.384399  82.854931
서울     81.689892  79.040884  78.800271  81.056047
전라/제주  80.098394  77.096895  76.813383  79.811349